<h2 class="jpk-header">Profile</h2>

<button type="button" class="add-object-btn btn btn-secondary" (click)="openNewUser()">Dodaj profil</button>

<table class="table table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Opis</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let profile of profiles; let i = index" (click)="openDetails(profile.name)">
    <th scope="row">{{i}}</th>
    <th>{{profile.name}}</th>
    <th>{{profile.description}}</th>
    <th><fa-icon [icon]="trash" (click)="deleteProfile($event, profile)"></fa-icon></th>
  </tr>
  </tbody>
</table>
