<div class="modal-header">
  <h2 class="modal-title">Szczegoły firmy</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="companyForm" (submit)="onSubmit()">

  <div class="form-group">
    <label>
      Kod firmy:
      <input type="text" class="form-control" formControlName="companyCode" [ngClass]="{'is-invalid': getError('companyCode')!=null}">
    </label>
    <app-error-message *ngIf="getError('companyCode')" [error]="getError('companyCode')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Nazwa firmy:
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': getError('name')!=null}">
    </label>
    <app-error-message *ngIf="getError('name')" [error]="getError('name')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Pełna nazwa firmy:
      <input type="text" class="form-control" formControlName="fullName" [ngClass]="{'is-invalid': getError('fullName')!=null}">
    </label>
    <app-error-message *ngIf="getError('fullName')" [error]="getError('fullName')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      NIP:
      <input type="text" class="form-control" formControlName="nip" [ngClass]="{'is-invalid': getError('nip')!=null}">
    </label>
    <app-error-message *ngIf="getError('nip')" [error]="getError('nip')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      REGON:
      <input type="text" class="form-control" formControlName="regon" [ngClass]="{'is-invalid': getError('regon')!=null}">
    </label>
    <app-error-message *ngIf="getError('regon')" [error]="getError('regon')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Kod urzędu skarbowego:
      <input type="text" class="form-control" formControlName="usCode" [ngClass]="{'is-invalid': getError('usCode')!=null}">
    </label>
    <app-error-message *ngIf="getError('usCode')" [error]="getError('usCode')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Kod kraju:
      <input type="text" class="form-control" formControlName="countryCode" [ngClass]="{'is-invalid': getError('countryCode')!=null}">
    </label>
    <app-error-message *ngIf="getError('countryCode')" [error]="getError('countryCode')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Województwo:
      <input type="text" class="form-control" formControlName="province" [ngClass]="{'is-invalid': getError('province')!=null}">
    </label>
    <app-error-message *ngIf="getError('province')" [error]="getError('province')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Powiat:
      <input type="text" class="form-control" formControlName="county" [ngClass]="{'is-invalid': getError('county')!=null}">
    </label>
    <app-error-message *ngIf="getError('county')" [error]="getError('county')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Gmina:
      <input type="text" class="form-control" formControlName="community" [ngClass]="{'is-invalid': getError('community')!=null}">
    </label>
    <app-error-message *ngIf="getError('community')" [error]="getError('community')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Miasto:
      <input type="text" class="form-control" formControlName="town" [ngClass]="{'is-invalid': getError('town')!=null}">
    </label>
    <app-error-message *ngIf="getError('town')" [error]="getError('town')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Ulica:
      <input type="text" class="form-control" formControlName="street" [ngClass]="{'is-invalid': getError('street')!=null}">
    </label>
    <app-error-message *ngIf="getError('street')" [error]="getError('street')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Nr. domu:
      <input type="text" class="form-control" formControlName="homeNo" [ngClass]="{'is-invalid': getError('homeNo')!=null}">
    </label>
    <app-error-message *ngIf="getError('homeNo')" [error]="getError('homeNo')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Nr. mieszkania:
      <input type="text" class="form-control" formControlName="flatNo" [ngClass]="{'is-invalid': getError('flatNo')!=null}">
    </label>
    <app-error-message *ngIf="getError('flatNo')" [error]="getError('flatNo')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Kod pocztowy:
      <input type="text" class="form-control" formControlName="postalCode" [ngClass]="{'is-invalid': getError('postalCode')!=null}">
    </label>
    <app-error-message *ngIf="getError('postalCode')" [error]="getError('postalCode')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Poczta:
      <input type="text" class="form-control" formControlName="post" [ngClass]="{'is-invalid': getError('post')!=null}">
    </label>
    <app-error-message *ngIf="getError('post')" [error]="getError('post')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Email:
      <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': getError('email')!=null}">
    </label>
    <app-error-message *ngIf="getError('email')" [error]="getError('email')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Nazwa systemu:
      <input type="text" class="form-control" formControlName="systemName" [ngClass]="{'is-invalid': getError('systemName')!=null}">
    </label>
    <app-error-message *ngIf="getError('systemName')" [error]="getError('systemName')"></app-error-message>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="companyForm.pristine" class="btn btn-secondary">Zapisz</button>
  </div>
</form>
