<div class="modal-header">
  <h2 class="modal-title">Szczegóły użytkownika</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="userForm" (submit)="onSubmit()">

  <div class="form-group">
    <label>
      Alias:
      <input type="text" class="form-control" formControlName="alias" [ngClass]="{'is-invalid': getError('alias')!=null}">
    </label>
    <app-error-message *ngIf="getError('alias')" [error]="getError('alias')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Imię:
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': getError('name')!=null}">
    </label>
    <app-error-message *ngIf="getError('name')" [error]="getError('name')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Nazwisko:
      <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid': getError('lastName')!=null}">
    </label>
    <app-error-message *ngIf="getError('lastName')" [error]="getError('lastName')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      E-mail:
      <input type="text" class="form-control" formControlName="mail" [ngClass]="{'is-invalid': getError('mail')!=null}">
    </label>
    <app-error-message *ngIf="getError('mail')" [error]="getError('mail')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Hasło:
      <input type="text" class="form-control" formControlName="pass" [ngClass]="{'is-invalid': getError('pass')!=null}">
    </label>
    <app-error-message *ngIf="getError('pass')" [error]="getError('pass')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      ID systemu zewnętrznego:
      <input type="text" class="form-control" formControlName="extId" [ngClass]="{'is-invalid': getError('extId')!=null}">
    </label>
    <app-error-message *ngIf="getError('extId')" [error]="getError('extId')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Aktywny:
      <input type="checkbox" class="form-check-input position-static" formControlName="active" [ngClass]="{'is-invalid': getError('active')!=null}">
    </label>
    <app-error-message *ngIf="getError('active')" [error]="getError('active')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Administrator:
      <input type="checkbox" class="form-check-input position-static" formControlName="admin" [ngClass]="{'is-invalid': getError('admin')!=null}">
    </label>
    <app-error-message *ngIf="getError('admin')" [error]="getError('admin')"></app-error-message>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="userForm.pristine" class="btn btn-secondary">Zapisz</button>
  </div>
</form>
