<div class="modal-header">
  <h2 class="modal-title">Szczegóły profilu</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="profileForm" (submit)="onSubmit()">

  <div class="form-group">
    <label>
      Imię:
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': getError('name')!=null}">
    </label>
    <app-error-message *ngIf="getError('name')" [error]="getError('name')"></app-error-message>
  </div>

  <div class="form-group">
    <label>
      Alias:
      <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid': getError('description')!=null}">
    </label>
    <app-error-message *ngIf="getError('description')" [error]="getError('description')"></app-error-message>
  </div>

  <div *ngFor="let right of profile.rights">
    {{right.name}} : {{right.description}}
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="profileForm.pristine" class="btn btn-secondary">Zapisz</button>
  </div>
</form>
